<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wish Image Match</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="webstyles/dropzone.css">
    <script type="text/javascript" src="webscripts/dropzone.js"></script>
  </head>
  <body>
    <div>
      <h1>Image Tagging Demo</h1>
      <form id="upload-widget" method="post" action="/upload" class="dropzone">
        <div class="fallback">
        <input name="file" type="file" />
        </div>
      </form>

    <script src="webscripts/file-upload-config.js"></script>
  </body>
</html>